*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdecf9;
    color: #333;
     line-height: 1.6;
}
header{
    background-color: #fcdbe2;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    box-shadow: 0 2px 5px;
}
header h1{
    font-size: 1.8em;
    color:#b07f5e;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}
.hero{
    background:url('https://images.unsplash.com/photo-1673442598728-71caf1f15820?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat
    center center/cover;
    height: 70vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.hero h2{
    font-size: 3em;
    margin-bottom: 10px;
}
.hero p{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.btn{
    background-color: #b07f5e;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
#products{
    padding: 60px 40px;
    background-color:#b07f5e;
}
#products h2{
    text-align: center;
    margin-bottom: 40px;
}
.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.product{
    background-color: rgb(17, 16, 16);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.product img{
    width:100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;

}
.product h3{
    margin: 10px 0;

}
.product button{
    padding: 10px 15px;
    background-color: #b07f5e;
    color: white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
.product button:hover{
    background-color: #a0684d;
}
/* CSS */
.footer {
    background-color: #5f5454;
    color: #fffcfc;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
   display: flex;
   flex-wrap: wrap;
    
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer h3 {
    margin-bottom: 15px;
  }
  
  .footer p,
  .footer ul,
  .footer li,
  .footer a {
    font-size: 14px;
    line-height: 1.6;
    color: #fafafa;
    text-decoration: none;
    list-style: none;
  }
  
  .footer-contact ul,
  .footer-social {
    padding: 0;
  }
  
  .footer-social a {
    color: #fffcfc;
    margin-right: 10px;
  }
  
  .footer-social a:hover {
    color: #fffcfc;
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #444;
    font-size: 13px;
    color: #ffffff;
  }
 

  .badge{
    background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  position: relative;
  top: -10px;
  right: -5px;
  }

  body {
    background-color: #b07f5e;
    font-family: Arial, sans-serif;
    color: #fff;
  }

  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    color: #000;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  #closeBtn, #clearBtn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #4b2c20;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  #cartSummary {
    text-align: center;
    margin-top: 20px;
  }
  